
/* Container (variables)                                                     */
/* ========================================================================= */

  .container {
    background-image: url(../images/corner_nw.png);
  }

  .container:before {
    background-image: url(../images/corner_ne.png);
  }

  .container:after {
    /* NOTE: IE's .container:after { height } must match these images.
             relevant modifications should be made in screen-doors.ie.css */

    background-image: url(../images/corner_se.png);
    content:          url(../images/corner_sw.png);
  }


/* Container (foundation)                                                    */
/* ========================================================================= */

  /* NOTE: firefox up to version 3.1 (exclusive?) does not support
           positioning of pseudo-elements (see the last commit for example),
           which is why you'll see crazy margins and overflow here.
           
           on the other hand, where the last commit also required framework
           styling of the "content" div and six images (when making borders),
           this version adds no styling to that content element and needs
           only four images. */

  .container {
    background-position:  top left;
    background-repeat:    no-repeat;
    position:             relative;
    overflow:             hidden;
  }

  .container:before {
    background-position:  top right;
    background-repeat:    no-repeat;
    height:               0;
    width:                100%;
    margin-bottom:        -10000px;
    padding-bottom:       10000px;
    display:              block;
    content:              '';
  }

  .container:after {
    /* NOTE: background-position must be top for IE (and is ok for others) */

    background-position:  top right; 
    background-repeat:    no-repeat;
    width:                100%;
    display:              block;
  }

  .container > * {
    margin:     0 !important;
    position:   relative;
    z-index:    10;
  }
