
/* Container (variables)                                                     */
/* ========================================================================= */
  
  .container {
    background-image: url(../images/mask_outer/border_e.png);
  }
  
  .container:before {
    background-image: url(../images/mask_outer/corner_ne.png);
    content:          url(../images/mask_outer/corner_nw.png);
  }

  .container:after {
    background-image: url(../images/mask_outer/corner_se.png);
    content:          url(../images/mask_outer/corner_sw.png);
  }

  .container > div.content {
    background-image: url(../images/mask_outer/border_w.png);
  }

  .container:before,
  .container:after {
    height:     10px;
  }

  /* beware this hack-nest, done for rendering correction...                 */
  /*  1a. additional padding to match image heights, needed by IE and Safari */
  /*  1b. use of negative margin so Firefox doesn't display too much space   */
  /*  2. use of first-of-type pseudo-class to drop margin from Safari        */
  /*  3. use of quoted class name to do the same in Internet Explorer        */  
  .container > div.content {
    padding:    10px 0;
    margin:     -10px 0;
  }
  
  body:first-of-type .container > div.content {
    margin: 0;
  }

  .container > div.content {
    "margin":   0;
  }


/* Container (foundation)                                                    */
/* ========================================================================= */

  .container {
    position:             relative;
    background-repeat:    repeat-y;
    background-position:  top right;
  }

  .container:before {
    position:   absolute;
    top:        0;
    left:       0;
    z-index:    0;
    display:    block;
    width:      100%;
    background-repeat:    no-repeat;
    background-position:  top right;
  }

  .container:after {
    position:   absolute;
    bottom:     0;
    left:       0;
    z-index:    0;
    display:    block;
    width:      100%;
    background-repeat:    no-repeat;
    background-position:  top right;
  }

  .container > div.content {
    background-repeat:    repeat-y;
    background-position:  top left;
  }


/* Clear Fix                                                                 */
/* ========================================================================= */

  .container > div.content:after {
    content:      '.';
    display:      block;
    clear:        both;
    visibility:   hidden;
    height:       0;
    line-height:  1;
  }

  .container > div.content {
    display:      inline-block;
    line-height:  1;
  }

  html[xmlns] .container > div.content {
    display:    block;
  }

  * html .container > div.content {
    height:     1%;
  }
